@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  font-family: 'Mulish' !important;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: white;
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
select{
  background-color: white !important;
}
.ant-pagination-item a {
  color: white !important;
}
.ant-pagination .ant-pagination-item-active {
  font-weight: 600;
  background-color: #b90d0d !important;
  border-color: pink;
}
.anticon{
  color: white;
}